body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.content {
  display: flex;
}

.elementList {
  width: 300px;
  height: 800px;
  border: 1px solid #ddd;
}

.designCenter {
  flex: 1;
}

.paramsList {
  width: 300px;
  border: 1px solid #ddd;
}


.text {
  padding: 4px;
  background: #f80;
  color: #fff;
}

.image {
  width: 100%;
  border: 1px solid #8F0;
}
.image img {
  width: 100%;
}

.menuItem {
  padding: 4px 12px;
  border: 1px solid #f20;
  margin-bottom: 5px;
}

.designPanel {
  min-height: 300px;
  color: #faFaa5;
}